/* main styles */
* {
	box-sizing: border-box;
	font-family: verdana, sans-serif;
	font-size: 16px;
}
body, html {
	margin: 0;
	padding: 0;
}

/* animations */
@keyframes blink {
	0%	{ color: #eeeeee; }
	1%	{ color: transparent; }
	50%	{ color: transparent; }
	51%	{ color: #eeeeee; }
	100% { color: #eeeeee; }
}

/* other tag styles */
a {
	text-decoration: none;
	border-bottom: 1px dotted black;
	outline: none;
}

/* classes */
.animate {
	transition: all .2s;
}
.code {
	font-family: courier new, monospace;
}

/* specific element styles */
/* header styles */
div#header {
	height: 100px;
}
div#title {
	height: 60px;
	line-height: 60px;
	font-size: 40px;
	font-family: courier new;
	background-color: black;
	color: #eeeeee;
}
div#title::before {
	content: "~$ ";
}
div#title::after {
	content: "\2005\2589";
	animation: blink 2s infinite;
	animation-delay: 3s;
}
nav#links {
	display: flex;
	height: 40px;
	background-color: black;
}
nav#links > a {
	flex-grow: 1;
	text-align: center;
	border: none;
	line-height: 40px;
	font-size: 20px;
	color: #eee;
	font-family: courier new;
}
nav#links > a::before {
	content: "cd ";
	text-decoration: none !important;
}
nav#links > a:hover {
	text-decoration: underline;
}
